<ion-content [fullscreen]="true" class="main-content">
  <!-- #661313 -->
  <ion-card class="main-card"> 
    <ion-card-header>
      <ion-card-title class="cardTitle ">नमस्ते</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="card2">
      {{welcomeMsg}}
    </ion-card-content>
  </ion-card>

    <ion-row class="margin_t_15" *ngFor="let x of storyList;let i = index" (click)="openStory(x)">
      <ion-col size="1" class="bgWhite vertical_centr index">{{i + 1}}</ion-col>
      <ion-col size="10" class="bgWhite ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding story-card">
          <div style="padding: 10px 0px;width: 75%;">
            <div class="storyTitle">{{x.title}}</div>
            <div class="storyPreview" [innerHTML]="x.story"></div>
          </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1" class="vertical_centrC"><ion-icon name="chevron-forward-circle" class="arrowIcon"></ion-icon></ion-col>
    </ion-row>

</ion-content>
