<ion-content [fullscreen]="true" class="main-content">
  <!-- #661313 -->
  <ion-card style="background: rgba(102, 19, 19, .8);color: #fff;border-radius: 10px;padding: 20px;" class="main-card"> 
    <ion-card-header>
      <ion-card-title style="color: #fff;text-align: center;font-weight: bolder;
      font-size: 28px;">नमस्ते</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="font-size: 20px;
    text-align: center;
    color: #e1cccc;">
      ओर्गास्म महिलाओं को अधिक रचनात्मक बना सकता है
    </ion-card-content>
  </ion-card>
</ion-content>
